/**
 * @icon layout
 * @css-for (icon size 32px)
 */
#sidebar ul.menu li.facebook-sp-s32,
#sidebar ul.menu li.feed-sp-s32,
#sidebar ul.menu li.google-sp-s32,
#sidebar ul.menu li.linkedin-sp-s32,
#sidebar ul.menu li.pinterest-sp-s32,
#sidebar ul.menu li.twitter-sp-s32,
#sidebar-alt ul.menu li.facebook-sp-s32,
#sidebar-alt ul.menu li.feed-sp-s32,
#sidebar-alt ul.menu li.google-sp-s32,
#sidebar-alt ul.menu li.linkedin-sp-s32,
#sidebar-alt ul.menu li.pinterest-sp-s32,
#sidebar-alt ul.menu li.twitter-sp-s32,
#footer-widgets ul.menu li.facebook-sp-s32,
#footer-widgets ul.menu li.feed-sp-s32,
#footer-widgets ul.menu li.github-sp-s32,
#footer-widgets ul.menu li.google-sp-s32,
#footer-widgets ul.menu li.linkedin-sp-s32,
#footer-widgets ul.menu li.pinterest-sp-s32,
#footer-widgets ul.menu li.twitter-sp-s32 {
	list-style-type: none !important;
	float: left;
	overflow: hidden;
	display: inline;
}

#nav li.facebook-sp-s32 a,
#nav li.feed-sp-s32 a,
#nav li.google-sp-s32 a,
#nav li.linkedin-sp-s32 a,
#nav li.pinterest-sp-s32 a,
#nav li.twitter-sp-s32 a,
#subnav li.facebook-sp-s32 a,
#subnav li.feed-sp-s32 a,
#subnav li.google-sp-s32 a,
#subnav li.linkedin-sp-s32 a,
#subnav li.pinterest-sp-s32 a,
#subnav li.twitter-sp-s32 a,
#header ul.menu li.facebook-sp-s32 a,
#header ul.menu li.feed-sp-s32 a,
#header ul.menu li.google-sp-s32 a,
#header ul.menu li.linkedin-sp-s32 a,
#header ul.menu li.pinterest-sp-s32 a,
#header ul.menu li.twitter-sp-s32 a {
	background: transparent url(../icon-sets/sp/sp-sprite-s32.png) 0 0 no-repeat;
	display: block;
	padding: 0;
	text-indent: -9999px;
	vertical-align: middle !important;
	width: 24px;
	min-height: 24px !important;
}

#sidebar ul.menu li.facebook-sp-s32 a,
#sidebar ul.menu li.feed-sp-s32 a,
#sidebar ul.menu li.google-sp-s32 a,
#sidebar ul.menu li.linkedin-sp-s32 a,
#sidebar ul.menu li.pinterest-sp-s32 a,
#sidebar ul.menu li.twitter-sp-s32 a,
#sidebar-alt ul.menu li.facebook-sp-s32 a,
#sidebar-alt ul.menu li.feed-sp-s32 a,
#sidebar-alt ul.menu li.google-sp-s32 a,
#sidebar-alt ul.menu li.linkedin-sp-s32 a,
#sidebar-alt ul.menu li.pinterest-sp-s32 a,
#sidebar-alt ul.menu li.twitter-sp-s32 a,
#footer-widgets ul.menu li.facebook-sp-s32 a,
#footer-widgets ul.menu li.feed-sp-s32 a,
#footer-widgets ul.menu li.google-sp-s32 a,
#footer-widgets ul.menu li.linkedin-sp-s32 a,
#footer-widgets ul.menu li.pinterest-sp-s32 a,
#footer-widgets ul.menu li.twitter-sp-s32 a {
	background: transparent url(../icon-sets/sp/sp-sprite-s32.png) 0 0 no-repeat;
	display: block;
	padding: 0;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
}

#nav li.facebook-sp-s32 a:hover,
#nav li.feed-sp-s32 a:hover,
#nav li.google-sp-s32 a:hover,
#nav li.linkedin-sp-s32 a:hover,
#nav li.pinterest-sp-s32 a:hover,
#nav li.twitter-sp-s32 a:hover,
#subnav li.facebook-sp-s32 a:hover,
#subnav li.feed-sp-s32 a:hover,
#subnav li.google-sp-s32 a:hover,
#subnav li.linkedin-sp-s32 a:hover,
#subnav li.pinterest-sp-s32 a:hover,
#subnav li.twitter-sp-s32 a:hover,
#header ul.menu li.facebook-sp-s32 a:hover,
#header ul.menu li.feed-sp-s32 a:hover,
#header ul.menu li.google-sp-s32 a:hover,
#header ul.menu li.linkedin-sp-s32 a:hover,
#header ul.menu li.pinterest-sp-s32 a:hover,
#header ul.menu li.twitter-sp-s32 a:hover,
#sidebar ul.menu li.facebook-sp-s32 a:hover,
#sidebar ul.menu li.feed-sp-s32 a:hover,
#sidebar ul.menu li.google-sp-s32 a:hover,
#sidebar ul.menu li.linkedin-sp-s32 a:hover,
#sidebar ul.menu li.pinterest-sp-s32 a:hover,
#sidebar ul.menu li.twitter-sp-s32 a:hover,
#sidebar-alt ul.menu li.facebook-sp-s32 a:hover,
#sidebar-alt ul.menu li.feed-sp-s32 a:hover,
#sidebar-alt ul.menu li.google-sp-s32 a:hover,
#sidebar-alt ul.menu li.linkedin-sp-s32 a:hover,
#sidebar-alt ul.menu li.pinterest-sp-s32 a:hover,
#sidebar-alt ul.menu li.twitter-sp-s32 a:hover,
#footer-widgets ul.menu li.facebook-sp-s32 a:hover,
#footer-widgets ul.menu li.feed-sp-s32 a:hover,
#footer-widgets ul.menu li.google-sp-s32 a:hover,
#footer-widgets ul.menu li.linkedin-sp-s32 a:hover,
#footer-widgets ul.menu li.pinterest-sp-s32 a:hover,
#footer-widgets ul.menu li.twitter-sp-s32 a:hover {
	border: none;
}

#nav li.facebook-sp-s32 a,
#subnav li.facebook-sp-s32 a,
#header ul.menu li.facebook-sp-s32 a,
#sidebar ul.menu li.facebook-sp-s32 a,
#sidebar-alt ul.menu li.facebook-sp-s32 a,
#footer-widgets ul.menu li.facebook-sp-s32 a {
	background-position: -44px -4px;
}

#nav li.feed-sp-s32 a,
#subnav li.feed-sp-s32 a,
#header ul.menu li.feed-sp-s32 a,
#sidebar ul.menu li.feed-sp-s32 a,
#sidebar-alt ul.menu li.feed-sp-s32 a,
#footer-widgets ul.menu li.feed-sp-s32 a {
	background-position: -4px -4px;
}

#nav li.google-sp-s32 a,
#subnav li.google-sp-s32 a,
#header ul.menu li.google-sp-s32 a,
#sidebar ul.menu li.google-sp-s32 a,
#sidebar-alt ul.menu li.google-sp-s32 a,
#footer-widgets ul.menu li.google-sp-s32 a {
	background-position: -84px -4px;
}

#nav li.linkedin-sp-s32 a,
#subnav li.linkedin-sp-s32 a,
#header ul.menu li.linkedin-sp-s32 a,
#sidebar ul.menu li.linkedin-sp-s32 a,
#sidebar-alt ul.menu li.linkedin-sp-s32 a,
#footer-widgets ul.menu li.linkedin-sp-s32 a {
	background-position: -124px -4px;
}

#nav li.pinterest-sp-s32 a,
#subnav li.pinterest-sp-s32 a,
#header ul.menu li.pinterest-sp-s32 a,
#sidebar ul.menu li.pinterest-sp-s32 a,
#sidebar-alt ul.menu li.pinterest-sp-s32 a,
#footer-widgets ul.menu li.pinterest-sp-s32 a {
	background-position: -164px -4px;
}

#nav li.twitter-sp-s32 a,
#subnav li.twitter-sp-s32 a,
#header ul.menu li.twitter-sp-s32 a,
#sidebar ul.menu li.twitter-sp-s32 a,
#sidebar-alt ul.menu li.twitter-sp-s32 a,
#footer-widgets ul.menu li.twitter-sp-s32 a {
	background-position: -204px -4px;
}
