/**
 * @icon layout
 * @css-for (icon size 24px)
 */
#sidebar ul.menu li.facebook-sp-s24,
#sidebar ul.menu li.feed-sp-s24,
#sidebar ul.menu li.google-sp-s24,
#sidebar ul.menu li.linkedin-sp-s24,
#sidebar ul.menu li.pinterest-sp-s24,
#sidebar ul.menu li.twitter-sp-s24,
#sidebar-alt ul.menu li.facebook-sp-s24,
#sidebar-alt ul.menu li.feed-sp-s24,
#sidebar-alt ul.menu li.google-sp-s24,
#sidebar-alt ul.menu li.linkedin-sp-s24,
#sidebar-alt ul.menu li.pinterest-sp-s24,
#sidebar-alt ul.menu li.twitter-sp-s24,
#footer-widgets ul.menu li.facebook-sp-s24,
#footer-widgets ul.menu li.feed-sp-s24,
#footer-widgets ul.menu li.github-sp-s24,
#footer-widgets ul.menu li.google-sp-s24,
#footer-widgets ul.menu li.linkedin-sp-s24,
#footer-widgets ul.menu li.pinterest-sp-s24,
#footer-widgets ul.menu li.twitter-sp-s24 {
	list-style-type: none !important;
	float: left;
	overflow: hidden;
	display: inline;
}

#nav li.facebook-sp-s24 a,
#nav li.feed-sp-s24 a,
#nav li.google-sp-s24 a,
#nav li.linkedin-sp-s24 a,
#nav li.pinterest-sp-s24 a,
#nav li.twitter-sp-s24 a,
#subnav li.facebook-sp-s24 a,
#subnav li.feed-sp-s24 a,
#subnav li.google-sp-s24 a,
#subnav li.linkedin-sp-s24 a,
#subnav li.pinterest-sp-s24 a,
#subnav li.twitter-sp-s24 a,
#header ul.menu li.facebook-sp-s24 a,
#header ul.menu li.feed-sp-s24 a,
#header ul.menu li.google-sp-s24 a,
#header ul.menu li.linkedin-sp-s24 a,
#header ul.menu li.pinterest-sp-s24 a,
#header ul.menu li.twitter-sp-s24 a {
	background: #666 url(../icon-sets/sp/sp-sprite-s24.png) 0 0 no-repeat;
	display: block;
	margin: 2px 3px;
	padding: 0;
	text-indent: -9999px;
	vertical-align: middle !important;
	width: 24px;
	min-height: 24px !important;
	opacity: 0.77;
}

#sidebar ul.menu li.facebook-sp-s24 a,
#sidebar ul.menu li.feed-sp-s24 a,
#sidebar ul.menu li.google-sp-s24 a,
#sidebar ul.menu li.linkedin-sp-s24 a,
#sidebar ul.menu li.pinterest-sp-s24 a,
#sidebar ul.menu li.twitter-sp-s24 a,
#sidebar-alt ul.menu li.facebook-sp-s24 a,
#sidebar-alt ul.menu li.feed-sp-s24 a,
#sidebar-alt ul.menu li.google-sp-s24 a,
#sidebar-alt ul.menu li.linkedin-sp-s24 a,
#sidebar-alt ul.menu li.pinterest-sp-s24 a,
#sidebar-alt ul.menu li.twitter-sp-s24 a,
#footer-widgets ul.menu li.facebook-sp-s24 a,
#footer-widgets ul.menu li.feed-sp-s24 a,
#footer-widgets ul.menu li.google-sp-s24 a,
#footer-widgets ul.menu li.linkedin-sp-s24 a,
#footer-widgets ul.menu li.pinterest-sp-s24 a,
#footer-widgets ul.menu li.twitter-sp-s24 a {
	background: #666 url(../icon-sets/sp/sp-sprite-s24.png) 0 0 no-repeat;
	display: block;
	margin: 2px 3px !important;
	padding: 0;
	text-indent: -9999px;
	width: 24px;
	height: 24px;
	opacity: 0.77;
}

#nav li.facebook-sp-s24 a:hover,
#nav li.feed-sp-s24 a:hover,
#nav li.google-sp-s24 a:hover,
#nav li.linkedin-sp-s24 a:hover,
#nav li.pinterest-sp-s24 a:hover,
#nav li.twitter-sp-s24 a:hover,
#subnav li.facebook-sp-s24 a:hover,
#subnav li.feed-sp-s24 a:hover,
#subnav li.google-sp-s24 a:hover,
#subnav li.linkedin-sp-s24 a:hover,
#subnav li.pinterest-sp-s24 a:hover,
#subnav li.twitter-sp-s24 a:hover,
#header ul.menu li.facebook-sp-s24 a:hover,
#header ul.menu li.feed-sp-s24 a:hover,
#header ul.menu li.google-sp-s24 a:hover,
#header ul.menu li.linkedin-sp-s24 a:hover,
#header ul.menu li.pinterest-sp-s24 a:hover,
#header ul.menu li.twitter-sp-s24 a:hover,
#sidebar ul.menu li.facebook-sp-s24 a:hover,
#sidebar ul.menu li.feed-sp-s24 a:hover,
#sidebar ul.menu li.google-sp-s24 a:hover,
#sidebar ul.menu li.linkedin-sp-s24 a:hover,
#sidebar ul.menu li.pinterest-sp-s24 a:hover,
#sidebar ul.menu li.twitter-sp-s24 a:hover,
#sidebar-alt ul.menu li.facebook-sp-s24 a:hover,
#sidebar-alt ul.menu li.feed-sp-s24 a:hover,
#sidebar-alt ul.menu li.google-sp-s24 a:hover,
#sidebar-alt ul.menu li.linkedin-sp-s24 a:hover,
#sidebar-alt ul.menu li.pinterest-sp-s24 a:hover,
#sidebar-alt ul.menu li.twitter-sp-s24 a:hover,
#footer-widgets ul.menu li.facebook-sp-s24 a:hover,
#footer-widgets ul.menu li.feed-sp-s24 a:hover,
#footer-widgets ul.menu li.google-sp-s24 a:hover,
#footer-widgets ul.menu li.linkedin-sp-s24 a:hover,
#footer-widgets ul.menu li.pinterest-sp-s24 a:hover,
#footer-widgets ul.menu li.twitter-sp-s24 a:hover {
	background-color: #333;
	border: none;
	opacity: 1;
}

#nav li.facebook-sp-s24 a,
#subnav li.facebook-sp-s24 a,
#header ul.menu li.facebook-sp-s24 a,
#sidebar ul.menu li.facebook-sp-s24 a,
#sidebar-alt ul.menu li.facebook-sp-s24 a,
#footer-widgets ul.menu li.facebook-sp-s24 a {
	background-position: -63px -3px;
}

#nav li.feed-sp-s24 a,
#subnav li.feed-sp-s24 a,
#header ul.menu li.feed-sp-s24 a,
#sidebar ul.menu li.feed-sp-s24 a,
#sidebar-alt ul.menu li.feed-sp-s24 a,
#footer-widgets ul.menu li.feed-sp-s24 a {
	background-position: -33px -3px;
}

#nav li.google-sp-s24 a,
#subnav li.google-sp-s24 a,
#header ul.menu li.google-sp-s24 a,
#sidebar ul.menu li.google-sp-s24 a,
#sidebar-alt ul.menu li.google-sp-s24 a,
#footer-widgets ul.menu li.google-sp-s24 a {
	background-position: -153px -3px;
}

#nav li.linkedin-sp-s24 a,
#subnav li.linkedin-sp-s24 a,
#header ul.menu li.linkedin-sp-s24 a,
#sidebar ul.menu li.linkedin-sp-s24 a,
#sidebar-alt ul.menu li.linkedin-sp-s24 a,
#footer-widgets ul.menu li.linkedin-sp-s24 a {
	background-position: -213px -3px;
}

#nav li.pinterest-sp-s24 a,
#subnav li.pinterest-sp-s24 a,
#header ul.menu li.pinterest-sp-s24 a,
#sidebar ul.menu li.pinterest-sp-s24 a,
#sidebar-alt ul.menu li.pinterest-sp-s24 a,
#footer-widgets ul.menu li.pinterest-sp-s24 a {
	background-position: -243px -3px;
}

#nav li.twitter-sp-s24 a,
#subnav li.twitter-sp-s24 a,
#header ul.menu li.twitter-sp-s24 a,
#sidebar ul.menu li.twitter-sp-s24 a,
#sidebar-alt ul.menu li.twitter-sp-s24 a,
#footer-widgets ul.menu li.twitter-sp-s24 a {
	background-position: -303px -3px;
}
